<%if @evangelists_okini_news != nil %>
<% @evangelists_okini_news.each do |evangelist| %>
<div class="col-md-2_2">
	<div class="image_i_div_2">
        <% if evangelist.r18 == 1 || evangelist.r18 == 2 %>
            <%= link_to evangelist do %>
            <%= image_tag 'r18.gif', class: "article-index_2", autoplay: true%>
            <% end %>
        <%else%>
            <%= link_to evangelist do %>
            <%= image_tag evangelist.yt_img0, class: "article-index_2", itemprop: "thumbnailUrl", alt: "サムネがないよ！"%>
            <%if evangelist.yt_duration != "05:25"%><span class="_dwc"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;<%= evangelist.yt_duration %></span><%end%>
            <% end %>
        <% end %>
    </div>

    <div class ="title_i w_180"><%= link_to evangelist, class: "link" do%><span itemprop="name"> <%= evangelist.title %> </span><%end%></div>
    <div class="name_i cl_gray w_180">
        <% if evangelist.r18 == 1 %><span class="cl_r">R-18</span><% elsif evangelist.r18 == 2 %><span class="cl_r">ネタバレ</span><% end %>
        <i class="fa fa-play" aria-hidden="true"></i>:<span class="cl_b"><%= evangelist.views_e %></span> <i class="fa fa-star" aria-hidden="true"></i>:<span class="cl_b"><%= evangelist.likes_e%></span> <i class="fa fa-pencil" aria-hidden="true"></i>:<span class="cl_b"><%= evangelist.come_e%></span> - <time itemprop="uploadDate" content="<%= raw evangelist.created_at.to_s.slice(0, 10) %>T<%=raw evangelist.created_at.to_s.slice(11, 5)%>"/><%= time_ago_in_words(evangelist.created_at).gsub(/about/,"").gsub(/less than a/,"") %> ago</time></div>
    <div class="name_i cl_gray w_180" itemprop="description">
        <%if evangelist.cate == 1%>
        <span class="cl_b">...</span>
        <% end %>
          by <span class="cl_b" itemprop="director"><%if evangelist.user_id != 4 && evangelist.user_id != 1 %> <% if evangelist.user_name.to_s.include?("@gmail") || evangelist.user_name.to_s.include?("@doc")|| evangelist.user_name.to_s.include?("@ez")%> メールっぽい！ <%else%>
          <%= link_to evangelist.user_name, user_path(evangelist.user_id) %>
          <%end%><% else %> 名無しさん <% end %></span></div>
    <div class="name_i w_180"></div>
</div>
<% end %>
<% if @evangelists != nil %>
    <div align="center">
    <%= will_paginate @evangelists_okini_news, renderer: BootstrapPagination::Rails, class: "btn-xs", next_label: ">>", previous_label: "<<",page_links: false , :params => { :controller => "evangelists"}%>
    </div>
<% end %>
<%end%>
